@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  -webkit-user-select: none;
}

.selectable {
  user-select: text;
  -webkit-user-select: text;
}

.prose pre {
  background-color: #f5f5f5;
  color: #171717;
}

.prose code {
  background-color: #f5f5f5;
  color: #171717;
}

.wiki-link {
  color: #3b82f6;
  cursor: pointer;
  text-decoration: underline;
}